    body {
        background-color: rgb(211, 212, 107);
        font: normal 15pt arial;
    }
    
    header {
        color: white;
        text-align: center;
        text-shadow: 2px 2px 4px #383838;
    }
    
    section {
        background-color: aliceblue;
        border-radius: 10px;
        padding: 30px;
        width: 600px;
        margin: auto;
        box-shadow: 3px 3px 5px #383838;
        text-align: center;
    }
    
    #centro {
        display: flex;
        justify-content: center;
    }
    
    footer {
        color: black;
        text-align: center;
    }